@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
html{
  font-family: 'Montserrat', sans-serif;
}
.Main-Container{
  display: flex;
  width: 100%;
}
.TodoContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;

}
